<!--<ccnetconfig><configurationVersion>1.5</configurationVersion></ccnetconfig>-->
<cruisecontrol>


  <project name="TradeHub">
    <workingDirectory>C:\Code Repo</workingDirectory>
    <artifactDirectory>c:\CI\Artifacts.Framework</artifactDirectory>
	<webURL></webURL>
    <triggers>
          <scheduleTrigger time="21:00:00" buildCondition="IfModificationExists" name="DailyBuild" />
    </triggers>
    <tasks>
    <nant>
<executable>C:\Program Files (x86)\NAntBuilder 2\nant\bin\NAnt.exe</executable>
  <baseDirectory>C:\Code Repo\Trade Hub\CI</baseDirectory>
  <nologo>true</nologo>
  <buildFile>TradeHub.build</buildFile>
  <logger>NAnt.Core.XmlLogger</logger>
  <buildTimeoutSeconds>1200</buildTimeoutSeconds>
</nant>

    </tasks>
    <publishers>
<merge>
            <files>
                <file>C:\results\*-results.xml</file>
            </files>
        </merge>
	<xmllogger />
<email mailport="587" includeDetails="TRUE" mailhostUsername="mbilal@aurorasolutions.org" mailhostPassword="Apple12$" useSSL="FALSE">
  <from>mbilal@aurorasolutions.org</from>
   <mailhost>gator3009.hostgator.com</mailhost>
   <users>
     <user name="Rasheed" group="buildmaster" address="rasheed@aurorasolutions.org" />
     <user name="Aziz" group="buildmaster" address="aziz@aurorasolutions.org" />
     <user name="Taimoor" group="buildmaster" address="taimoor@aurorasolutions.org" />
     <user name="Ahmad" group="buildmaster" address="ahmad.masood@aurorasolutions.org" />	
     <user name="Bilal" group="buildmaster" address="mbilal@aurorasolutions.org" />
   </users>
   <groups>
         
    <group name="buildmaster">
      <notifications>
        <notificationType>Always</notificationType>
      </notifications>
    </group>
  </groups>
  
  <subjectSettings>
    <subject buildResult="StillBroken" value="Build is still broken for {CCNetProject}" />
  </subjectSettings>
  <xslFiles>
    <file>xsl\header.xsl</file>
    <file>xsl\compile.xsl</file>
    <file>xsl\unittests.xsl</file>
   <file>xsl\modifications.xsl</file>
   <file>xsl\fit.xsl</file>
   <file>xsl\compile-msbuild.xsl</file>
   <file>xsl\NCoverSummary.xsl</file>
 </xslFiles>
</email>
    </publishers>
<sourcecontrol type="hg">
  <workingDirectory>C:\Code Repo\Trade Hub</workingDirectory>
  <executable>C:\Program Files\TortoiseHg\hg.exe</executable>
  <timeout>60000</timeout>
  <repo>ssh://hg@bitbucket.org/abaziz/tradehub</repo>
  <branch>dev</branch>
  <multipleHeadsFail>false</multipleHeadsFail>
  <tagOnSuccess>false</tagOnSuccess>
</sourcecontrol>

  </project>
</cruisecontrol>